*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background: #e6eef8;
}
.container{
    width: 1400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}
s
.card{
    background: #dbe8f7;
    padding: 25px;
    border-radius: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left{
    display: flex;
    gap: 20px;
    align-items: center;
}

.robo{
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
}

.hero h2{
    color: #1b3c74;
}

.hero h3{
    margin: 10px 0;
    color: #1b3c74;
}

.botao-light{
    background: white;
    border: none;s
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.hero-botao{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botaoprimario{
    background: #1b3c74;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.small-card table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px
}

.small-card th{
    text-align: left;
    padding-bottom: 10px;
}

.small-card td{
    padding: 8px 0;
}

.status {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
}

.verde {background: #39b872;}
.amarelo{background: #f2b600;}
.vermelho{background: #e74c3c;}

.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-header h4{
    color: #1b3c74;
}

.lista-produtos{
    display: flex;
    gap: 15px;
}

.produtos{
    width: 120px;
    height: 140px;
    background: white;
    border-radius: 12px;
}


















































body{
    margin:0;
}
#barra {
    font-size: 35px ;
    padding: 0;
}















nav {

}


#body1 {
    margin: 0;
}

#barra {
    background-color: rgb(214, 208, 208);
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}