body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    
}



















































































body{
    margin:0;
}
#barra {
    font-size: 35px ;
    padding: 0;
}















nav {

}


#body1 {
    margin: 0;
}

#barra {
    background-color: rgb(214, 208, 208);
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}